body {
  padding: 50px;
  border: 2px dotted green;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

nav {
  border: 2px solid green;
  padding: 50px;
  justify-content: center;
}

a {
  color: #00B7FF;
  font-size: 2vh;
  text-decoration: none;
  background-color: lightgoldenrodyellow;
}

#user-avatar {
  border-radius: 50%;
  height: 8vh;
}

button {
  background-color: salmon;
}

