<%- include('../partials/header') %>
<h3>Here live your created quotes</h3>

<% quotes.forEach((quote) => { %>
    <section style="border: 2px solid black">
        <p>"<%= quote.content %>"</p>
        <h6><%= quote.author %></h6>
    </section>
    <% }) %>
<%- include('../partials/footer') %>