<%- include('../partials/header') %>
<form action="/quotes" method="POST">
    <p>Note: Quotation marks will be added automatically, no need to add them here :)</p>
    <textarea name="content" id="" cols="30" rows="5"></textarea>
    <input type="datetime-local">
    <button type="submit">Submit</button>
</form>
<%- include('../partials/footer') %>