<%- include("../partials/header") %>

<form style="margin-top: 10vh;" action="/quotes" method="POST">
    <fieldset>
      <div>
        <label class="form-label mt-4">Add your quote here --quotation marks will be included, no need to add them 😊</label>
        <textarea name="content" class="form-control" rows="3"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>

<%- include("../partials/footer") %>